- if listing.liked_by?(@current_user)
  = link_to (image_tag 'heart_active.png', width: '35'), like_unlike_listing_path(listing), remote: true, method: :patch
- else
  = link_to (image_tag 'heart.png', width: '35'), like_unlike_listing_path(listing), remote: true, method: :patch