- url = listing_url(@url_params.merge({:id => @listing.id}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = link_to @liker.full_name, person_url(@url_params.merge({:username => @liker.username}))
      tried your post.

= render :partial => "action_button", :locals => { :text => "See Post.", :url => url}
