form#s3-uploader{
  padding-bottom: 0;
}
.header{
  position: fixed;
  z-index: 9;
  background: #fff;
}
.marketplace-lander, .title-header-wrapper{
  padding-top: 60px;
}
#OnboardingTopBar-react-component-0{
  display:none;
}
.header-toggle-menu-menu{
  top: 60px !important;
}